<div class="list">
  <div class="title-section">
    <h2 *ngIf="author">{{ author === 'he' ? '他' : '她' }}的日记</h2>
    <span class="spacer"></span>
    <app-player
      [audio]="audio"
      class="player"
      [ngClass]="{ hide: !audio }"
    ></app-player>
  </div>
  <div class="list-body">
    <li class="diary-list-item" *ngFor="let diary of diaryList; index as i">
      <div class="diary-title" (click)="gotoDiary(diary._id)">
        <span class="title"
          >{{ diary.title
          }}<fa-icon
            *ngIf="diary.locked"
            [icon]="faLockIcon"
            class="icon"
          ></fa-icon
        ></span>
        <span class="date-comments">
          {{ formatDate(diary.createdAt) + '  (' + diary.commentsNum + ')' }}
        </span>
      </div>
      <fa-icon
        *ngIf="diary.author === author"
        [icon]="faEditIcon"
        class="icon"
        (click)="onEdit(diary._id)"
      ></fa-icon>
    </li>
  </div>
</div>
