button {
  background: rgba(240, 240, 240, 0.3);
  color: rgba(240, 240, 240, 0.9);
  transition: background 0.3s;
  box-shadow: none;
  border: 0;
  border-radius: 4px;
  min-height: 36px;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 16px;
  &:hover {
    background: rgba(240, 240, 240, 0.5);
  }
}
