.diary {
  .title-section {
    display: flex;
    margin-bottom: 16px;
    .player {
      display: flex;
      align-items: center;
      &.hide {
        display: none;
      }
    }
  }

  .diary-body {
    padding: 32px;
  }
}
