<div class="editor">
  <div class="title-input">
    <input
      [(ngModel)]="title"
      class="title"
      [ngClass]="{ hasInput: title }"
      placeholder="日记标题"
    />
  </div>
  <div class="content-input">
    <textarea
      [(ngModel)]="content"
      class="content"
      [ngClass]="{ hasInput: content }"
      placeholder="正文"
      (ngModelChange)="onContentChange()"
      rows="5"
      #contentController
    ></textarea>
  </div>
  <div class="submit-btn">
    <span class="lock-diary" (click)="checkPrivate()">
      <fa-icon [icon]="faSquareIcon" class="check-icon" [ngClass]="{ show: !locked }"></fa-icon>
      <fa-icon [icon]="faCheckIcon" class="check-icon" [ngClass]="{ show: locked }"></fa-icon>
      非公开
    </span>
    <app-button (click)="onSubmit()">保存</app-button>
  </div>
</div>
