.player {
    display: flex;
    .icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background 0.3s;
        border-radius: 4px;
        &:hover {
            background: rgba(240, 240, 240, 0.15);
        }
    }
}

.hide {
    display: none;
}