.home {
    .title-section {
        display: flex;
        margin-bottom: 16px;
        .player {
            display: flex;
            align-items: center;   
        }
    }
    .body-section {
        padding: 0 24px;
        line-height: 48px;
        font-size: 24px;
    }
}