.typer-body {
  line-height: 24px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.typer-body ::ng-deep span:not(:last-child) {
  display: block;
  min-height: 24px;
}

.cursor {
  height: 20px;
  animation: blink 1s infinite;
  width: 1px;
  background: black;
  display: inline-block;
  margin-left: 2px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
