.app-body {
  z-index: 2;
  max-width: 1280px;
  margin: auto;
}

.app-root {
  padding: 0 16px;
  height: 100vh;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  box-shadow: inset 0px 0px 158px 30px rgba(255, 255, 255, 1);
}

.player {
  display: flex;
  align-items: center;
}

.blade {
  padding: 32px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  .page {
      flex: auto;
  }
}
