/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Microsoft YaHei', sans-serif;
    color: rgba(255, 255, 255, 0.90);
}

html * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.spacer {
    flex: 1 1 auto;
}