.scoller-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.scoller-body ::ng-deep span {
  display: block;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  &.show {
    opacity: 1;
  }
  &.hide {
    height: 0 !important;
  }
}

.small {
  line-height: 16px;
  font-size: 12px;
  span.gap {
    height: 16px;
  }
}
.medium {
  line-height: 24px;
  font-size: 16px;
  span.gap {
    height: 24px;
  }
}
.large {
  line-height: 36px;
  font-size: 20px;
  span.gap {
    height: 36px;
  }
}
.extra {
  line-height: 48px;
  font-size: 24px;
  span.gap {
    height: 48px;
  }
}
